// colors
$accentColor = #555
$textColor = #333
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px


$amount = 10%

$C-verkehrsverhalten = tint(#055063, $amount)
$C-psychologie = tint(#2b4065, $amount)  
$C-kommunikation = tint(#630555, $amount)
$C-paedagogik = tint(#63052c, $amount)  
$C-anhaenger = tint(#056363, $amount)
$C-technik = tint(#05634d, $amount)  

$highlight = #eff7ad
$highlightB = #ffff66
