// colors
$accentColor = #375555
$textColor = #333
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px


$C-verkehrsverhalten = #368655
$C-psychologie = #4d8636
$C-kommunikation = #863636
$C-paedagogik = #86366a
$C-anhaenger = #368682
$C-technik = #366c86

$highlight = #eff7ad
$highlightB = #ffff66
$accentColor = #3c936a